@mixin inputWidth1 {
  width: 95%;
}
@mixin inputWidth2 {
  width: 25%;
}
body {
  margin-top: 20px;
  margin-bottom: 20px;
}
#input-width-1 {
  @include inputWidth1();
}

#input-width-2 {
  @include inputWidth2();
}



