$primary-color: #FAFAFA;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dcddde;
  font-size: 20px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 3rem;

  .flex-items {
    a {
      padding: 10px 40px;
      color: $primary-color;
      background-color: #595f61;
      border-radius: 5px;
      text-decoration: none;

      &:nth-child(1), &:nth-child(5)  {
        background: none;
        color: black;
      }

      &.active {
        background-color: #7bb1e0;
        color: white;
      }

      &:hover:not(.active) {
        background-color: #c1bdbd;
        }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .flex-items {
    a {
      padding: 8px 15px;
    }
  }
}